<div class="container">
  <div class="row">
    <div class="col-12">
     <!-- <button class="btn-primary" (click)="onFetchCarData()">Fetch Cars</button>-->
      <table class="table" role="table">
        <thead role="rowgroup">
        <tr align="center" role="row">
          <th scope="col" role="columnheader">#</th>
          <th scope="col" role="columnheader">Make</th>
          <th scope="col" role="columnheader">Cylinder</th>
          <th scope="col" role="columnheader">Horsepower</th>
          <th scope="col" role="columnheader">Displacement</th>
          <th scope="col" role="columnheader">Weight</th>
          <th scope="col" role="columnheader">Acceleration</th>
          <th scope="col" role="columnheader">Origin</th>
        </tr>
        </thead>
        <tbody role="rowgroup">
        <tr align="center" *ngFor="let car of carData | filter: filterCar : filterField ; let i =index"  role="row">
          <td role="cell" class="font-weight-bold">{{i+1}}</td>
          <td role="cell" class="capital-first">{{car.Name }}</td>
          <td role="cell">{{car.Cylinders}}</td>
          <td role="cell">{{car.Horsepower}} bhp</td>
          <td role="cell">{{car.Displacement}} cc</td>
          <td role="cell">{{car.Weight_in_lbs}} lbs</td>
          <td role="cell">{{car.Acceleration}}</td>
          <td role="cell">{{car.Origin}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
