<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 padding-top-10">
     Filter List:
    <input type="text" placeholder="Type Filter Text"  [(ngModel)]="filterData"  (ngModelChange)="modelChanged()">
    </div>
    <div class="col-12 col-md-6 padding-top-10">
       Filter By :
      <select name="cars" [(ngModel)]="filterField"  (ngModelChange)="fieldModelChanged()">
        <option value="Name">Make</option>
        <option value="Cylinders">Cylinders</option>
        <option value="Horsepower">Horsepower</option>
        <option value="Displacement">Displacement</option>
        <option value="Weight_in_lbs">Weight</option>
        <option value="Acceleration">Acceleration</option>
        <option value="Origin">Origin</option>
      </select>
    </div>

  </div>
</div>
<br/>
