<!--The content below is only a placeholder and can be replaced.
<div class="container">
<div class="row">
  <div class="col-auto"><button class="btn btn-primary" (click)="onFetchNestedCars()" >Get Nested Cars</button></div>
  <div class="col-auto"> <button class="btn btn-primary" (click)="onFetchDrugPrice()" >Get Drug Price</button></div>
  <div class="col-auto"> <button class="btn btn-primary" (click)="onFetchAccounts()" >Get Account Data</button></div>
  <input type="text" [(ngModel)]="filteredCar">
</div>
  <div class="container">
    <div class="row">
      <div class="col-4" *ngFor="let driver of nestedCarJSON; let i =index">
      <app-driver  [driver]="driver" [index] = "i" [filterCar] = "filteredCar">
      </app-driver>
      </div></div></div>-->

  <router-outlet></router-outlet>
  <!--<div *ngFor="let account of accountJSON" >
        <div *ngFor="let details of account.accounts" >
          {{details.bank}}
        </div>
  </div>

    <div class="row" >
      <div class="col-xl-6 col-lg-4 col-md-6 col-sm-12 col-12" style="border:1px solid" *ngFor="let driver of nestedCarJSON.driver">
        <h2>Name: {{driver.name}}</h2>
        <h3>Age: {{driver.age}}</h3>
        <div *ngFor="let car of driver.car">
          <h2>{{car.make}} &nbsp; {{car.model}}</h2>
          <h3>Color : {{car.colour}}</h3>
          <div *ngFor="let mileage of car.mileage">
            <h4> Miles Clocked: {{mileage.total}}</h4>
          </div>
        </div>
      </div>
    </div>
-->
 <!-- <table border="2px"  >
    <tr  *ngFor="let driver of nestedCarJSON.driver">
      <th bgcolor="#6495ed">
        <h2>Name: {{driver.name}}</h2>
      <h3>Age: {{driver.age}}</h3>
    </th>
      <td bgcolor="#adff2f" *ngFor="let car of driver.car">
        <h2>{{car.make}} &nbsp; {{car.model}}</h2>
        <h3>Color : {{car.colour}}</h3>
          <div *ngFor="let mileage of car.mileage">
            <h4> Miles Clocked: {{mileage.total}}</h4>
          </div>
      </td>
    </tr>
  </table>
-->
<!--
<table border="2px">
  <tr>
    <td style="padding: 20px" *ngFor="let drugCost of drugJSON">
      <h3>{{drugCost.drugName}}</h3>
      <h4>{{drugCost.drugStrength}}</h4>
      <div>
          {{drugCost.mailPrice.costAnnual}}
      </div>
    </td>
  </tr>
</table>

</div>
-->

